html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
