@import "../../styles/ThemeVariables.scss";
$primary: #635fc7;
$gray: #828fa3;
$dark-gray: #20212c;
$light-gray: #2b2c37;

.dropdown-wrapper {
  width: 100%;
  position: relative;
  .dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid rgba($gray, 0.25);
    border-radius: 4px;
    padding: 0.5rem;

    @include themify($themes) {
      background: themed("backgroundSecondary");
      color: themed("colorText");
      transition: themed("transition");
    }
  }
  .dropdown-list {
    position: absolute;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5rem 0;
    & > div {
      padding: 0.5rem 0 0 1rem;
    }
    & > div:first-child {
      padding-top: 1rem;
    }
    & > div:last-child {
      padding-bottom: 1rem;
    }

    border-radius: 8px;
    color: $gray;
    max-height: 6em;
    overflow-y: scroll;
    cursor: pointer;
    @include themify($themes) {
      background: themed("backgroundSecondary");
    }
    div:hover {
      color: $primary;
    }
  }
}
.list-opened {
  .dropdown-header {
    border: 1px solid $primary;
  }
}
