@import "../../styles/ThemeVariables.scss";
$primary: #635fc7;
$gray: #828fa3;
$dark-gray: #20212c;
$light-gray: #2b2c37;

.dropdown-wrapper {
  width: 100%;
  .dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid rgba($gray, 0.25);
    border-radius: 4px;
    padding: 0.5rem;
    color: black;

    @include themify($themes) {
      background: themed("backgroundSecondary");
      color: themed("colorText");
      transition: themed("transition");
    }
  }
  .dropdown-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0.5em;
    padding: 1em;
    border-radius: 8px;
    color: $gray;
    max-height: 5em;
    overflow-y: scroll;
    cursor: pointer;
    @include themify($themes) {
      background: themed("background");
    }
    div:hover {
      color: $primary;
    }
  }
}
.list-opened {
  .dropdown-header {
    border: 1px solid $primary;
  }
}
