@import "../../styles/ThemeVariables.scss";
$dark-gray: #2b2c37;
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-wrapper {
  z-index: 1000;
  position: fixed;
  width: 30rem;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @include themify($themes) {
    background: themed("background");
    color: themed("colorText");
  }

  .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .modal-content {
    width: 100%;
  }

  .modal-checkout-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    & > span {
      width: 100%;
    }
  }
  .modal-checkout-dropdown {
    position: absolute;
    top: 15%;
    right: 0;
    width: 10%;

    z-index: 2;
  }
  .delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
}
