$medium-gray: #828fa3;
$dark-gray: #2b2c37;

.task-wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5rem;
  box-shadow: rgba(#364e7e, 0.115) 0px 4px 6px;
  width: 15em;
  border-radius: 8px;

  .task-subtasks {
    margin-top: 1em;
    color: $medium-gray;
  }
}

.task-dark {
  background: $dark-gray;
  color: white;
  box-shadow: rgba(#364e7e, 0.115) 0px 4px 6px;
}

.task-modal-container {
  padding: 2rem;
  & > * {
    margin-bottom: 1rem;
  }
  .task-modal-subtasks-done,
  .task-modal-description {
    color: $medium-gray;
  }
}
