$medium-gray: #828fa3;

.task-wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 15em;
  border-radius: 8px;

  .task-subtasks {
    margin-top: 1em;
    color: $medium-gray;
  }
}

.task-modal-container {
  padding: 2rem;
  & > * {
    margin-bottom: 1rem;
  }
  .task-modal-subtasks-done,
  .task-modal-description {
    color: $medium-gray;
  }
}
