@import "../../styles/ThemeVariables.scss";

.checkbox-container {
  @include themify($themes) {
    background: themed("backgroundSecondary");
    &:hover {
      background: rgba(themed("colorPrimary"), 0.25);
    }
    color: themed("colorText");
    transition: themed("transition");
  }

  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: auto;
  padding: 0.75em 0;
  margin: 0.4em 0;
  width: 100%;
  cursor: pointer;

  input:checked + .checkbox-label {
    text-decoration: line-through 1px solid currentColor;
    opacity: 0.3;
  }

  input:checked {
    opacity: 1;
  }

  input {
    filter: hue-rotate(30deg);
    opacity: 0.1;
    cursor: pointer;
  }
}
