$red: #ea5555;
$gray: #828fa3;
$dark-gray: #2b2c37;
.input-wrapper {
  position: relative;

  input {
    font-size: 15px;
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
    background: white;
    color: black;
  }
  input:focus {
    outline: none;
  }

  .input-dark {
    background: $dark-gray;
    color: white;
  }
}

.input-error {
  &::after {
    content: "Can't be empty";
    position: absolute;
    top: 1px;
    right: 0;
    color: $red;
    font-weight: bold;
  }
  input {
    border-color: $red;
  }
}
