$red: #ea5555;
$gray: #828fa3;
.input-wrapper {
  position: relative;

  input {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
}

.input-error {
  &::after {
    content: "Can't be empty";
    position: absolute;
    top: 1px;
    right: 0;
    color: $red;
    font-weight: bold;
  }
  input {
    border-color: $red;
  }
}
