@import "../styles/ThemeVariables.scss";

$medium-gray: #828fa3;
.main-wrapper {
  transition: margin-left 0.5s;
  height: 90vh;
}

.main-board {
  height: 100%;
  overflow-x: scroll;
  padding: 2rem;
  @include themify($themes) {
    background: themed("backgroundSecondary");
    transition: themed("transition");
  }

  color: $medium-gray;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.main-board-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 600px) {
  .main-wrapper {
    margin-left: 0;
  }
}
