@import "../../styles/ThemeVariables.scss";

.theme-toggler-container {
  @include themify($themes) {
    background: themed("backgroundSecondary");
    transition: themed("transition");
  }
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin: 0 1rem;
  border-radius: 6px;

  .theme-toggler-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
