$themes: (
  light: (
    background: white,
    backgroundSecondary: #f4f7fd,
    colorText: black,
    colorTextSecondary: #828fa3,
    colorPrimary: #635fc7,
    line: #e4ebfa,
    transition: 0.5s,
  ),
  dark: (
    background: #2b2c37,
    backgroundSecondary: #20212c,
    colorText: white,
    colorTextSecondary: #828fa3,
    colorPrimary: #635fc7,
    line: #3e3f4e,
    transition: 0.5s,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
