@import "../../styles/ThemeVariables.scss";

.textarea-wrapper {
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    height: 50px;
    padding: 0.3rem;
    resize: none;
    border: 1px solid rgba(#828fa3, 25%);
    border-radius: 4px;
    background: transparent;
    @include themify($themes) {
      color: themed("colorText");
      transition: themed("transition");
    }
    &:focus {
      outline: none;
    }
  }

  .textarea-label {
    @include themify($themes) {
      color: themed("colorTextSecondary");
    }
    text-transform: capitalize;
    margin-bottom: 0.3rem;
  }
}
